
@font-face {
    font-family: 'Karma';
    src: local('Karma'), url('./Karma-Suture.otf') format('opentype');
}

.MainTitle
{
    font-family: 'Karma';
    font-size: 50px;
    color: #f5f5f5;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.homediv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8851a1;
    width: 100vw; /* Set width to full viewport width */
    height: 100vh; /* Set height to full viewport height */
  }
  